<% layout("/layouts/boilerplate.ejs") %>
<body>
    <br><br>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form action="/Listings" method="post" class="needs-validation"novalidate enctype="multipart/form-data">
        <div class="mb-3">
             <label for="title" class="form-label">Title</label>
        <input 
        name="listing[title]" 
        type="text" 
        placeholder="Add a catchy title" 
        class="form-control" required>
        <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-description">Description</label>
             <textarea
              name="listing[description]"  
              class="form-control" required></textarea>
              <div class="invalid-feedback">Please enter a valid description</div>
        </div>

        <div class="mb-3">
            <label for="category" class="form-image">Select Category</label>
            <select name="listing[category]" id="category" class="form-select" aria-label="Default select example">
                <option selected value="Rooms">Rooms</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Amazing Pools">Amazing Pools</option>
                <option value="Camping">Camping</option>
                <option value="Beach">Beach</option>
                <option value="Artic">Artic</option>
                   
            </select>
        </div>
        
         <div class="mb-3">
            <label for="image" class="form-image">Upload Listing Imge</label>
             <input 
             name="listing[image]" 
             type="file" 
            required
             class="form-control">
        </div>

        <div class="row">

              <div class="mb-3 col-md-4">
            <label for="price" class="form-price">Price</label>
             <input 
             name="listing[price]"  
             placeholder="1200" 
             class="form-control" required>
             <div class="invalid-feedback">Price should be valid</div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-country">Country</label> 
            <input 
            name="listing[country]" 
            type="text" 
            placeholder="India" 
            class="form-control" required>
            <div class="invalid-feedback">Country name should be valid</div>
        </div>
        </div>
        
      
        
        <div class="mb-3">
            <label for="location" class="form-location">Location</label>
             <input 
             name="listing[location]" 
             type="text" 
             placeholder="Hyderabad,Telangana" 
             class="form-control" required>
             <div class="invalid-feedback">Location should be valid</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
    <br><br>
    </div>
    </div>
</body>
